<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <title>Review Check-ins</title>
</head>
<body>
<div layout:fragment="main-content" class="d-flex flex-column h-100">
    <div class="container py-5">
        <h2 class="mb-4">Check-ins Available for Review</h2>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Volunteer</th>
                <th>Event</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${participations}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.volunteer.firstName + ' ' + p.volunteer.lastName}"></td>
                <td th:text="${p.event.title}"></td>
                <td>
                    <a th:href="@{/review/new(participationId=${p.id})}"
                       class="btn btn-primary btn-sm">Review</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>