<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <title>Registration Pending</title>
</head>
<body>
<div layout:fragment="main-content" class="d-flex flex-column h-100">
    <div class="container py-5 text-center">
        <h2>Registration Submitted</h2>
        <p class="lead">Your registration has been submitted and is awaiting admin approval.</p>
        <a th:href="@{/}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
</body>
</html>